extends layout

block content
  h1= title
  | From
  input#inputFrom(type='number', name='from', placeholder='YYYY', value="#{from}")
  | To
  input#inputTo(type='number', name='to', placeholder='YYYY', value="#{to}")
  button#btnSearch(href="#") Go!
  ul
    each artist in artists
      li
        a(href="/artist/#{artist.id}") #{artist.fc} #{artist.birthYear}
