extends layout

block content
  h1= title
  form.filter
    | Birth year from 
    input#inputFrom(type='number', name='from', placeholder='YYYY', value="#{from}")
    |  to #{''}
    input#inputTo(type='number', name='to', placeholder='YYYY', value="#{to}")
    =  ' '
    button#btnSearch(type="submit") Go!
  #artists
    ul
      each artist in artists
        li
          a(href="/artist/#{artist.id}") #{artist.fc} #{artist.birthYear}
